@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" >
    <h1 class="display-4" >Welcome</h1>
</div>

<div>
    <p>
        <a asp-page="Demo" >Demo</a>
    </p>
    <p>
        <a asp-page="Demo2" >Demo2</a>
    </p>
    <p>
        <a asp-page="DemoEdit" >DemoEdit</a>
    </p>
</div>
